<div id="resumeWrapper">
    <nz-skeleton *ngIf="loading" [nzActive]="true"></nz-skeleton>
    <div *ngIf="!loading" class="heading">
        <div class="name">{{ResumeData.firstName}} {{ResumeData.lastName}}</div>
        <div class="title">{{ResumeData.jobTitle}}</div>
    </div>
    <div *ngIf="!loading"  nz-row>
        <div class="sections-wrapper" nz-col nzSpan="16">
            <div class="section">
                <div class="sec-heading">
                    EXPERIENCE
                </div>
                <p class="divider"></p>
                <div *ngFor="let exp of ResumeData.employment">
                    <span class="sec-sub-head">{{exp.jobTitle}}</span>
                    <span class="duration">{{exp.startDate | date:'MMM y'}} - {{exp.endDate | date:'MMM y'}}</span>
                    <div class="sec-items">{{exp.employer}}</div>
                    <div style="color: #5f5454;margin-bottom: 12px" [innerHtml]="exp.description"></div>
                    <br>
                </div>
                
            </div>
            <div class="section">
                <div class="sec-heading">
                    EDUCATION
                </div>
                <p class="divider"></p>
                <div *ngFor="let edu of ResumeData.education;">
                    <span class="sec-sub-head">{{edu.degree}}</span>
                    <span class="duration">{{edu.startDate | date:'MMM y'}} - {{edu.endDate | date:'MMM y'}}</span>
                    <div class="sec-items">{{edu.college}}</div>
                    <div style="color: #5f5454;margin-bottom: 12px" [innerHtml]="edu.description"></div>
                    <br>
                </div>
                
                <!-- <span class="sec-sub-head">B.sc Information Technology</span>
                <span class="duration">Aug 2015 - Jan 2017</span>
                <div class="sec-items">Kumaraguru College of Technology</div>
                <div style="color: #5f5454;margin-bottom: 12px" [innerHtml]="sampleEducation"></div> -->
            </div>
        </div>
        <div class="sections-wrapper" nz-col nzSpan="8">
            <div class="section">
                <div class="sec-heading">
                    CONTACT
                </div>
                <p class="divider"></p>
                <div class="sec-items">{{ResumeData.email}}</div>
                <div *ngIf="ResumeData.phone" class="sec-items">{{ResumeData.phone.code}}-{{ResumeData.phone.number}}</div>
                <div class="sec-items">{{ResumeData.website}}</div>
                <div class="sec-items">{{ResumeData.location}}</div>
            </div>
            <div class="section">
                <div class="sec-heading">
                    PROFILE
                </div>
                <p class="divider"></p>
                <div [innerHtml]="ResumeData.careerObjective" class="sec-items"></div>
            </div>
            <div class="section">
                <div class="sec-heading">
                    SKILLS
                </div>
                <p class="divider"></p>
                <div *ngFor="let skill of ResumeData.skills">
                    <div class="sec- items">{{skill.skillName}}</div>
                    <div class="progress-Wrapper">
                        <nz-progress [nzStrokeColor]="yellow" [nzPercent]="skill.skillRating * 20" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>