<div id="resumeWrapper">
    <div class="heading">
        <div class="name">imran Ahmed</div>
        <div class="title">Fullstack Developer</div>
    </div>
    <div nz-row>
        <div class="sections-wrapper" nz-col nzSpan="16">
            <div class="section">
                <div class="sec-heading">
                    EXPERIENCE
                </div>
                <p class="divider"></p>
                <span class="sec-sub-head">Fullstack Developer</span>
                <span class="duration">May 2019 - Present</span>
                <div class="sec-items">EXAMLY</div>
                <div style="color: #aeaeae;" [innerHtml]="sampleExp[0]"></div>
                <span class="sec-sub-head">Fullstack Developer</span>
                <span class="duration">May 2018 - May 2019</span>
                <div class="sec-items">Juntrax Solutions</div>
                <div style="color: #aeaeae;" [innerHtml]="sampleExp[1]"></div>
            </div>
            <div class="section">
                <div class="sec-heading">
                    EDUCATION
                </div>
                <p class="divider"></p>
                <span class="sec-sub-head">Master of Computer Applications</span>
                <span class="duration">Aug 2015 - Jan 2017</span>
                <div class="sec-items">Kumaraguru College of Technology</div>
                <div style="color: #aeaeae;" [innerHtml]="sampleEducation"></div>
            </div>
        </div>
        <div class="sections-wrapper" nz-col nzSpan="8">
            <div class="section">
                <div class="sec-heading">
                    CONTACT
                </div>
                <p class="divider"></p>
                <div class="sec-items">imrahamed@gmail.com</div>
                <div class="sec-items">+919566890562</div>
                <div class="sec-items">imrahamed@gmail.com</div>
                <div class="sec-items">Bengaluru, India</div>
            </div>
            <div class="section">
                <div class="sec-heading">
                    PROFILE
                </div>
                <p class="divider"></p>
                <div class="sec-items">I'm a product person, a programmer,. I ❤ creating scalable web apps with amazingly great UI/UX. I'm interested in startups and especially B2B SaaS</div>
            </div>
            <div class="section">
                <div class="sec-heading">
                    SKILLS
                </div>
                <p class="divider"></p>
                <div class="sec-items">Angular</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="80" [nzShowInfo]="false"></nz-progress>
                </div>
                
                <div class="sec-items">Express</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="60" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">Hapi.js</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="40" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">Ionic</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="100" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">HTML</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="60" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">CSS</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="40" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">React</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="60" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">Docker</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="80" [nzShowInfo]="false"></nz-progress>
                </div>
                <div class="sec-items">Kubernetes</div>
                <div class="progress-Wrapper">
                    <nz-progress [nzStrokeColor]="yellow" [nzPercent]="80" [nzShowInfo]="false"></nz-progress>
                </div>
            </div>
        </div>
    </div>
</div>