<div class="wrapper">
    <h1 class="edit-header">Resume Editor</h1>
    <form [formGroup]="resumeForm" (submit)="onResumeSubmit()">
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="firstName">Name</nz-form-label>
            <nz-form-control [nzSpan]="6" [nzSm]="14" [nzXs]="24">
                <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="12">
                        <input nz-input name="firstName" placeholder="First Name" type="text" formControlName="firstName">
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input name="lastName" placeholder="Last Name" type="text" formControlName="lastName">
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="14" [nzSm]="14" [nzXs]="24">
                <input nz-input name="email" placeholder="Email" type="email" formControlName="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="jobTitle">Job Title</nz-form-label>
            <nz-form-control [nzSpan]="14" [nzSm]="14" [nzXs]="24">
                <input nz-input name="jobTitle" placeholder="Job Title" type="text" formControlName="jobTitle">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="dateOfBirth">Date Of Birth</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-date-picker [nzSize]="size" name="dateOfBirth" type="text" formControlName="dateOfBirth">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <div formGroupName="phone">
            <nz-form-item>
                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="number">Phone</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-input-group [nzAddOnBefore]="addOnBeforePhone">
                        <ng-template #addOnBeforePhone>
                            <nz-select formControlName="code" name="code" class="phone-select">
                                <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input name="number" formControlName="number" placeholder="Phone" nz-input />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="website">Website</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input formControlName="website" name="website" placeholder="Website" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="location">Location</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea nz-input name="location" type="text" formControlName="location" placeholder="Location"
                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="careerObjective">Career Objective</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea nz-input name="careerObjective" type="text" formControlName="careerObjective" placeholder="Career Objective"
                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </nz-form-control>
        </nz-form-item>
        <br />
        <div formArrayName="skills">

            <nz-form-label [nzSpan]="5">Skills</nz-form-label>
            <button type="button" nz-button nzType="primary" (click)="addNewSkill()" [nzSize]="size" nzShape="round"><i
                    nz-icon nzType="plus-square" nzTheme="outline"></i>Add Skill</button>

            <div *ngFor="let skill of skills.controls; let i = index;">
                <div [formGroupName]="i">
                    <br>
                    <nz-card style="max-width: 500px;display: block;margin: 0 auto;" [nzExtra]="skillTemplate">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="skillName">Name</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input formControlName="skillName" name="skillName" placeholder="Skill Name" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="skillRating">Skill Rating</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <nz-slider [nzMin]="0" [nzStep]=".1" [nzMax]="5" formControlName="skillRating"
                                    name="skillRating">
                                </nz-slider>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-card>
                    <ng-template #skillTemplate>
                        <button type="button" nz-button nzType="danger" (click)="removeSkill(i)" [nzSize]="size"
                            nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </ng-template>
                </div>
            </div>
        </div>
        <br />
        <div formArrayName="education">
            <nz-form-label [nzSpan]="5">Educations</nz-form-label>
            <button nz-button nzType="primary" type="button" (click)="addNewEducation()" [nzSize]="size"
                nzShape="round"><i nz-icon nzType="plus-square" nzTheme="outline"></i>Add Education</button>
            <div *ngFor="let edu of education.controls; let j = index;">
                <div [formGroupName]="j">
                    <br />
                    <nz-card style="max-width: 500px;display: block;margin: 0 auto;" [nzExtra]="educationTemplate">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="degree">Degree</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input formControlName="degree" name="degree" placeholder="Degree" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="college">College</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input formControlName="college" name="college" placeholder="College" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="startDate">Start Date</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-date-picker [nzSize]="size" type="text" name="startDate"
                                    formControlName="startDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="endDate">End Date</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-date-picker [nzSize]="size" type="text" name="endDate" formControlName="endDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <textarea nz-input name="description" type="text" placeholder="Description" formControlName="description"
                                    [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-card>
                    <ng-template #educationTemplate>
                        <button type="button" nz-button nzType="danger" (click)="removeEducation(j)" [nzSize]="size"
                            nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </ng-template>
                    <br />
                </div>
            </div>
        </div>
        <br />

        <div formArrayName="employment">
            <nz-form-label [nzSpan]="5">Employments</nz-form-label>
            <button nz-button nzType="primary" type="button" (click)="addNewEmployment()" [nzSize]="size"
                nzShape="round"><i nz-icon nzType="plus-square" nzTheme="outline"></i>Add Employment</button>
            <div *ngFor="let emp of employment.controls; let j = index;">
                <div [formGroupName]="j">
                    <br />
                    <nz-card style="max-width: 500px;display: block;margin: 0 auto;" [nzExtra]="employmentTemplate">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="jobTitle">Job Title</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input formControlName="jobTitle" placeholder="Job Title" name="jobTitle" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="employer">Employer</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input formControlName="employer" name="employer" placeholder="Employer" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="startDate">Start Date</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-date-picker [nzSize]="size" type="text" name="startDate"
                                    formControlName="startDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="endDate">End Date</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-date-picker [nzSize]="size" type="text" name="endDate" formControlName="endDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <textarea nz-input name="description" type="text" placeholder="Description" formControlName="description"
                                    [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-card>
                    <ng-template #employmentTemplate>
                        <button type="button" nz-button nzType="danger" (click)="removeEmployment(j)" [nzSize]="size"
                            nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </ng-template>

                </div>
            </div>
        </div>
        <br />
        <button nz-button nzType="primary" class="resume-submit" [nzLoading]="loading" [disabled]="!resumeForm.valid" nzType="primary">Save
            Resume</button>
        <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Add</button> -->
    </form>
</div>