/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
.heading {
    width: fit-content;
    color: #ffff;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
}
#addNew {
    float: right;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.ant-progress-bg {
    background-color: #ffb33e !important;
}
/* .wrapper, #resumeWrapper {
    height: 90vh;
    overflow-y: scroll;
} */

.wrapper-form form label::after {
    content: "" !important;
}

.wrapper-form form label {
    font-weight: 700 !important;
    color: #575151;
}

.ant-card-body {
    padding-bottom: 5px;
}

.ant-form-item {
    margin: 0px 0px 10px;
}

.ant-card-head{
    max-height: 15px;
}

.ant-card-extra{
    padding: 8px 0;
}